.wrapper{
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}


@media (max-width: 768px ){
  .wrapper {
    grid-template-columns: 1fr;
    font-size: 87.5%;
  }
}



@media (max-width: 410px){
  html{
    font-size: 90%;
  }
}

@media (max-width: 366px){
  html{
    font-size: 78%;
  }
}